/assets/
/uploads/
/.htaccess
/.env
/.env.example
/.git
/.gitmodules
/.idea
/.vscode
/.DS_Store
/*.log
/*.sql
/*.zip
/*.tar.gz
/*.tar
/*.gz
/*.tgz
/*.tar.xz
/*.tar.bz2
/*.tar.lz
/*.tar.lzo
/*.tar.lzma
/*.tar.lzop
/*.tar.zst
/*.tar.zstd
/*.tar.zlib
/*.tar.zlib1
/fereshteh/assets/
/fereshteh/uploads/
/fereshteh/.env
/fereshteh/.env.example
/fereshteh/svg_files/
/fereshteh/.gitignore
/fereshteh/includes/libraries/
/fereshteh/lib/
/fereshteh/vendor/
