/assets/
/uploads/
/.htaccess
/.env
/.env.example
/.git
/.gitmodules
/.idea
/.vscode
/.DS_Store
/*.log
/*.sql
/*.zip
/*.tar.gz
/*.tar
/*.gz
/*.tgz
/*.tar.xz
/*.tar.bz2
/*.tar.lz
/*.tar.lzo
/*.tar.lzma
/*.tar.lzop
/*.tar.zst
/*.tar.zstd
/*.tar.zlib
/*.tar.zlib1
/fereshteh/assets/
/fereshteh/uploads/
/fereshteh/.env
/fereshteh/.env.example
/fereshteh/svg_files/
/fereshteh/.gitignore
/fereshteh/includes/libraries/
/fereshteh/lib/
/fereshteh/vendor/

# Ignore all media files
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.tif
*.svg
*.webp
*.mp3
*.wav
*.ogg
*.flac
*.mp4
*.mkv
*.avi
*.mov
*.wmv
*.webm
*.m4v
*.3gp
*.3g2
*.aac
*.m4a
*.m4p
*.m4b
*.m4r
*.m4v
*.mka
*.mks
*.mts
*.m2ts
*.ts
*.vob
*.ogv
*.oga
*.spx
*.opus
*.amr
*.svg
*.svgz
*.woff
# Ignore all font files
*.eot
*.ttf
*.otf
*.woff2
*.woff
*.sfnt
*.fnt
*.pfa
*.pfb
*.pfm
*.afm
*.bdf
*.pcf
*.snf
*.sfd
# Ignore all Rhino files
*.3dm
*.3dx
*.3dmbak

# Ignore all AutoCAD files
*.dwg
*.dxf
*.dwt
*.bak
*.sv$
*.ac$
make_newProject_instructions.md
finalsqlcommands.sql
*.sql
*.sql.gz
*.sql.bz2
*.txt
/*.sql
/*.txt
/Arad/assets/
/Arad/uploads/
/Arad/.env
/Arad/.env.example
/Arad/svg_files/
/Arad/.gitignore
/Arad/includes/libraries/
/Arad/lib/
/Arad/vendor/
/includes/libraries/
/phpinfo.php
phpinfo.php
/Arad/phpinfo.php/
/Fereshteh/includes/jdf.php/
